.authContainer{
    background-image: url("https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/4087184/cover_image/regular_1708x683/Untitled-c7f4c86ddb44556b00a31a37e4219c3d.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.bgBlure {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }